<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692144165649-snblmkb8k3eha5uc8019ncj51uk9gb0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692144165649-snblmkb8k3eha5uc8019ncj51uk9gb0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692144165649-402gf7q5g9becud45rhhraeapd9nti7l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyo2eRQcgSmf6-cljpz14ZqDbHwX34x0A</string>
	<key>GCM_SENDER_ID</key>
	<string>692144165649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acupay.sellers</string>
	<key>PROJECT_ID</key>
	<string>eshop-multivendor</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-multivendor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692144165649:ios:10f6966981e64317a0b2b0</string>
</dict>
</plist>